.login__container {
    margin-bottom: -4px;
    display: grid;
    height: calc(100vh - 104px);
    align-items: center;
    padding: 0;
}

.home-content div:has(.login__container) {
    padding: 0;
}

.login__container--form {
    padding: 2rem;
    margin: 1rem;
}

.login__container--background {
    background: var(--gradient-primary-reverse);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container--background div {
    text-align: center;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .login__container--background {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .login__container {
        grid-template-columns: repeat(2, 1fr);
    }
}